@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

/* HEADER */
header {
  height: 15vh;
  overflow: hidden;
}
nav {
  width: 100%;
  height: 100%;
}
nav img {
  max-width: 100%;
  height: auto;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 33%;
  width: 100%;
  background-color: black;
  height: 100%;
}
nav ul li {
  display: flex;
  color: white;
  justify-content: center;
  font-weight: bold;
  font-size: 1.1em;
}

/* MAIN */

main {
  background-color: black;
  height: 85vh;
  align-items: center;
  display: flex;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 15%;
}
.card ul li {
  color: white;
  font-size: 1.1em;
  margin-left: 10%;
  font-weight: 300;
}
.card ul li span {
  font-weight: 600;
}
.grid {
  width: 43%;
  height: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  justify-items: center;
  margin: 0 auto;
  filter: drop-shadow(0 0 100px #e3d61d66);
}
.card-0 {
  background-image: url("assets/images/yoda.png");
}
.card-1 {
  background-image: url("assets/images/vader.png");
}
.card-2 {
  background-image: url("assets/images/obi.png");
}
button {
  background-color: #e3d61d;
  padding: 5px 45px;
  border-radius: 7px;
  font-weight: bold;
  box-shadow: 0px 0px 30px 0px #e3d61d4d;
  font-size: 1.3em;
  margin: 0 auto;
  margin-top: 12%;
  transition: all 0.2s ease-in-out;
}
button:hover {
  color: #e3d61d;
  background-color: black;
}
form {
  position: fixed;
  top: -25%;
  left: 25%;
  background-color: black;
  padding: 50px;
  border-radius: 15px;
  border: 2px solid #e3d61d;
  box-shadow: 0px 0px 500px 200px black;
}
label {
  color: white;
}
input {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 5px;
  background-color: #e3d61d;
  color: black;
  border-radius: 10px;
}
.loader {
  color: #e3d61d;
  font-size: 3em;
  text-transform: uppercase;
  left: 45%;
  position: absolute;
}

@media screen and (max-width: 1280px) {
  /* HEADER*/
  header {
    height: 15vh;
  }
  nav ul {
    padding: 0 25%;
  }
  nav ul li {
    font-size: 1.2em;
    padding-right: 5px;
  }

  /* MAIN*/
  main {
    height: 85vh;
    align-items: center;
    display: flex;
  }
  .grid {
    width: 60%;
    height: 85%;
    display: grid;
  }
  form {
    top: -10%;
    left: 32%;
    padding: 20px;
  }
  label {
    color: white;
    font-size: 0.9em;
  }
  input {
    font-size: 0.9em;
  }
  button {
    padding: 5px 30px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1024px) {
  /* HEADER*/
  header {
    height: 15vh;
  }
  nav ul {
    padding: 0 15%;
  }
  nav ul li {
    font-size: 1.5em;
    padding-right: 5px;
  }

  /* MAIN*/
  main {
    height: 85vh;
    align-items: center;
    display: flex;
  }
  .grid {
    width: 85%;
    height: 50%;
    display: grid;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 768px) {
  /* HEADER*/
  header {
    height: 15vh;
  }
  nav img {
    max-width: 100%;
    height: auto;
  }
  nav ul {
    padding: 0 22%;
  }
  nav ul li {
    font-size: 1em;
    padding-right: 20px;
  }
  /* MAIN*/
  main {
    background-color: black;
    height: 120vh;
    align-items: center;
    display: block;
  }
  .grid {
    width: 90%;
    height: 90%;
    padding-top: 5%;
  }
  .card ul li {
    font-size: 0.9em;
    margin-left: 8%;
  }
  form {
    top: 0%;
    left: 32%;
    padding: 15px;
  }
  label {
    color: white;
    font-size: 0.8em;
  }
  input {
    font-size: 0.8em;
    margin: 0;
  }
  button {
    padding: 5px 25px;
    font-size: 1.2em;
  }
}

@media screen and (max-width: 480px) {
  /* HEADER*/
  header {
    height: 10vh;
  }
  nav ul {
    padding: 0 8%;
  }
  nav ul li {
    font-size: 1em;
    padding-right: 12px;
  }

  /* MAIN*/
  main {
    height: 220vh;
    align-items: center;
    display: block;
  }
  .card {
    padding-bottom: 7%;
    margin-bottom: 7%;
  }
  .grid {
    width: 60%;
    height: 33%;
    display: block;
    padding-top: 30px;
  }
  .card ul li {
    font-size: 0.9em;
    margin-left: 8%;
  }
  form {
    top: 90%;
    left: 0%;
    padding: 30px;
  }
  label {
    color: white;
    font-size: 0.9em;
  }
  input {
    font-size: 0.9em;
  }
  button {
    padding: 5px 25px;
    font-size: 1.1em;
    margin-top: 8%;
  }
}
@media screen and (max-width: 400px) {
  /* HEADER*/
  nav ul li {
    font-size: 0.8em;
  }

  /* MAIN*/
  main {
    height: 190vh;
  }
  .card ul li {
    font-size: 0.8em;
  }
  form {
    padding: 15px;
  }
  label {
    font-size: 0.8em;
  }
  input {
    font-size: 0.8em;
  }
  button {
    padding: 5px 23px;
    font-size: 0.9em;
  }
}
